@font-face {
    font-family: 'montserrat-bold';
    src: url('../fonts/montserrat-bold.eot');
    src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/montserrat-bold-webfont.svg#montserrat-bold') format('svg'),
            url('../fonts/montserrat-bold-webfont.woff') format('woff'),
            url('../fonts/montserrat-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat-regular';
    src: url('../fonts/montserrat-regular.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/montserrat-regular-webfont.svg#montserrat-regular') format('svg'),
            url('../fonts/montserrat-regular-webfont.woff') format('woff'),
            url('../fonts/montserrat-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hind-bold';
    src: url('../fonts/hind-bold.eot');
    src: url('../fonts/hind-bold-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/hind-bold-webfont.svg#hind-bold') format('svg'),
            url('../fonts/hind-bold-webfont.woff') format('woff'),
            url('../fonts/hind-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hind-light';
    src: url('../fonts/hind-light.eot');
    src: url('../fonts/hind-light-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/hind-light-webfont.svg#hind-light') format('svg'),
            url('../fonts/hind-light-webfont.woff') format('woff'),
            url('../fonts/hind-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hind-medium';
    src: url('../fonts/hind-medium.eot');
    src: url('../fonts/hind-medium-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/hind-medium-webfont.svg#hind-medium') format('svg'),
            url('../fonts/hind-medium-webfont.woff') format('woff'),
            url('../fonts/hind-medium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hind-regular';
    src: url('../fonts/hind-regular.eot');
    src: url('../fonts/hind-regular-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/hind-regular-webfont.svg#hind-regular') format('svg'),
            url('../fonts/hind-regular-webfont.woff') format('woff'),
            url('../fonts/hind-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hind-semibold';
    src: url('../fonts/hind-semibold.eot');
    src: url('../fonts/hind-semibold-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/hind-semibold-webfont.svg#hind-semibold') format('svg'),
            url('../fonts/hind-semibold-webfont.woff') format('woff'),
            url('../fonts/hind-semibold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
