// slider

.content__slider{
    background: #212429;
    background: linear-gradient(180deg, #212429 50%, #f9f9fb 50%);
}

.slide{
    color: #fff;
    background-image: url('../images/Slider.png');
    background-size: cover;
    background-position: center;
    height: 490px;
    position: relative;
    &__text{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    &__subtitle{
        font-family: 'hind-semibold';
        font-size: 1.2rem;
        letter-spacing: 5px;
        margin-bottom: 30px;
    }
    &__title{
        font-family: 'hind-bold';
        text-transform: uppercase;
        font-size: 2.5rem;
        letter-spacing: 5px;
    }
}
@media (max-width: 576px) {
    .slide__title{
        font-size: 1.2rem;
    }
    .slide__subtitle{
        font-size: 1rem;
    }
}

.slider__text{
    font-family: 'hind-semibold';
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    letter-spacing: 5px;
    transform: rotate(-90deg);
    top: 45%;
}
@media (min-width: 1401px) {
    .slider__text{
        right: -4.7%;
    }
}
@media (min-width: 1201px) and (max-width: 1400px) {
    .slider__text{
        right: -6%;
    }
}
@media (min-width: 993px) and (max-width: 1200px) {
    .slider__text{
        right: -7.5%;
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    .slider__text{
        right: -11%;
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    .slider__text{
        right: -16%;
    }
}
@media (max-width: 576px) {
    .slider__text{
        right: -90px;
    }
}

//slider customize

.content__slider ul.slick-dots{
    bottom: 50%;
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    width: auto;
}
@media (max-width: 992px) {
    .content__slider ul.slick-dots{
        right: 8%;
    }
}
@media (min-width: 993px) {
    .content__slider ul.slick-dots{
        right: 6%;
    }
}

.slick-dots{
    & li{
        margin: 5px 0;
        & button::before {
            content: '';
            width: 10px;
            height: 10px;
            border: 1px solid #fff;
        }
    }
    & li.slick-active button::before{
        content: '';
        width: 10px;
        height: 10px;
        border: 1px solid #fff;
        background-color: #999;
    }
}

.content__slider .slick-prev{
    position: absolute;
    z-index: 10;
    right: 3%;
    left: auto;
    top: 20%;
    &::before{
        content: "\f148";
        font-family: 'bootstrap-icons';
    }
}
.content__slider .slick-next{
    position: absolute;
    z-index: 10;
    right: 3%;
    left: auto;
    bottom : 20%;
    top: auto;
    &::before{
        content: "\f128";
        font-family: 'bootstrap-icons';
    }
}

.slick-dotted.slick-slider{
    margin: 0;
}
