@import 'fonts.scss';
@import '_reset.scss';
@import 'header.scss';
@import 'form.scss';
@import 'slider.scss';
@import 'posts.scss';
@import 'audio-post.scss';
@import 'contacts.scss';
@import 'sidebar.scss';
@import 'footer.scss';
@import '404.scss';


body{
    background-color: #212429;
    &.lock{
        overflow: hidden;
    }
    &.light-body{
        background-color: #f9f9fb;
    }
} 

a{
    text-decoration: none;
    &:visited{
        color: inherit;
    }
}